html {
  font-size: 100%;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

#header {
  width: 100%;
  height: 80px;
  background-color: #ccc;
  opacity: 0.6;
}
#header .logo-area img {
  width: 350px;
  margin-top: 15px;
}

main .site-title {
  display: flex;
  margin-top: 300px;
  margin-bottom: 300px;
  flex-direction: column;
  align-items: center;
}
main .site-title h1 {
  color: white;
  font-weight: bold;
  font-size: 7em;
  letter-spacing: 1.5rem;
  cursor: pointer;
  text-shadow: 5px 3px 3px #6f6f6f;
}
main .site-title p {
  color: white;
  font-weight: bold;
  letter-spacing: 0.8rem;
  font-size: 1.3rem;
}
main .main-contents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 200px;
}
main .main-contents .content {
  padding: 60px;
  position: relative;
}
main .main-contents .content a:hover {
  opacity: 0.9;
}
main .main-contents .content a img {
  width: 50vh;
  height: 250px;
  border-radius: 10px;
  box-shadow: 5px 3px 3px #656464;
}
main .main-contents .content .content-title {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  margin-top: 10px;
  cursor: pointer;
}
main .description {
  color: white;
  margin-top: 3px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #ccc;
  opacity: 0.6;
}

.scroll-space {
  box-sizing: border-box;
  padding-top: 300px;
  height: 1600px;
  color: #fff;
  overflow: hidden;
}
.scroll-space .blue {
  background: #77BBCF;
  width: 200px;
  height: 200px;
  padding: 30px;
  margin: 0 auto 50px;
}
.scroll-space .pink {
  background: #FFB4B4;
  width: 200px;
  height: 200px;
  padding: 30px;
  margin: 0 auto 50px;
}
.scroll-space .yellow {
  background: #F8913C;
  width: 200px;
  height: 200px;
  padding: 30px;
  margin: 0 auto 50px;
}
.scroll-space .green {
  background: #26AA5A;
  width: 200px;
  height: 200px;
  padding: 30px;
  margin: 0 auto 50px;
}

.fadein {
  opacity: 0;
  transform: translate(0, 0);
  transition: all 1.5s;
}
.fadein.fadein-left {
  transform: translate(-30px, 0);
}
.fadein.fadein-right {
  transform: translate(30px, 0);
}
.fadein.fadein-up {
  transform: translate(0, -30px);
}
.fadein.fadein-bottom {
  transform: translate(0, 30px);
}
.fadein.scrollin {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}

@media screen and (max-width: 1040px) {
  #header {
    height: 70px;
  }
  #header .logo-area img {
    width: 270px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 860px) {
  main .site-title h1 {
    font-size: 3em;
  }
  main .site-title p {
    letter-spacing: 0.3em;
    font-size: 1.8em;
    margin-top: 10px;
  }
  main .main-contents .content {
    padding: 20px;
  }
}
@media screen and (max-width: 600px) {
  main .site-title {
    font-size: 0.6em;
    margin-top: 170px;
    margin-bottom: 170px;
  }
  main .main-contents {
    margin-bottom: 130px;
  }
  main .main-contents .content a img {
    width: 35vh;
    height: 170px;
  }
}/*# sourceMappingURL=style.css.map */